.footer__column-link {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    transition: all 500ms;
}

.footer__column-link:hover {
    opacity: .5;
}