.header__link {
    color: #2f80ed;
    text-decoration: none;
    position: relative;
    transition: all 500ms;
}

.header__link::after {
    content: "⟶";
    position: absolute;
    top: 0;
    left: 58px;
}

.header__link:hover {
    opacity: .5;
}