.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    margin: 0;
    width: 60%;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.15;
    z-index: 2;
}

.section-subtitle {
    margin: 0;
    width: 60%;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    z-index: 2;
}

.table {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
}

/* .table__cell {
} */

.table__cell_theme_light {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.14;
}

.table__text {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
}

.table__text_indent_up {
    margin-top: 20px;
}

.digits_indent_up-down {
    margin: 100px 0;
}

.section_indent_down {
    margin-bottom: 20px;
}