.feynman {
    position: relative;
    height: 785px;
    width: 100%;
    background-color: #f2f2f2;
    background-image: url(../images/feynman.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

.feynman__title {
    width: 648px;
    text-align: center; 
    margin: 0 auto;
    font-size: 120px;
    font-weight: 600;
    line-height: 1.15;
}

.feynman__subtitle {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
}

.feynman__subtitle_indent_up{
    margin-top: 70px;
}

.feynman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    color: #2f80ed;
    text-decoration: none;
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
}

.feynman_indent_up {
    padding-top: 100px;
}