.kaufman {
    position: relative;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.section__title_theme_dark,
.section__subtitle_theme_dark,
.table__heading_theme_dark,
.table__text_theme_dark {
    color: #fff;
}

.table__cell_theme_dark {
    width: 200px;
    margin-top: 80px;
}

.table__text_theme_dark {
    margin-top: 20px;
}

.kaufman__triangle {
    position: absolute;
    top: 0;
    right: -210px;
    width: 848px;
}

.kaufman_indent_up-down {
    padding: 90px 0;
}