@import "page.css";
@import "header.css";
@import "description.css";
@import "digits.css";
@import "feynman.css";
@import "kaufman.css";
@import "footer.css";

@import "logo.css";





/* и элемента с модификатором вида ключ-значение */
/* .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */
